yfinance
pandas
numpy
scipy>=1.11.0
requests
finvizfinance
vaderSentiment
google-generativeai
python-dotenv
lxml
gspread
oauth2client
tenacity
pandas_market_calendars
pyyaml
flask
pymongo[srv]==4.6.1
google-search-results
streamlit
matplotlib
dnspython==2.4.2
certifi